body {
   display:flex;
   flex-direction: column;
   font-family: "Roboto", verdana, sans-serif;
   margin:0;
   padding:0;
   background: radial-gradient( circle  at -16% 45%,  rgba(0,56,68,1) 5%, rgb(125, 170, 143) 51.5%, rgba(0,56,68,1) 110% );
   
}

.header-box {
   flex-direction: row; 
   display: flex; 
   max-width: 920px;
   min-width:250px;
   margin: 0px 40px 0px 40px;
   justify-content: space-between;
   flex:1 1 auto;

}
.header {
   display:flex;
   justify-content: center;
   
}

.overskrift {
   font-size: 1.6rem;
   color: #f7f7f7;
}

.meny {
   display:flex;
   flex-direction: row;
}

ul, .link {
   color:#f7f7f7;
   font-size: 1.2rem;
   text-decoration: none;
   list-style: none;
   margin:0;
   gap:25px;
   display:flex;
   align-items:center;
   transition-duration: 0.3s;
   display:flex;
}

.link:hover { 
   cursor: pointer;
   transition-duration: 0.3s;
   color:rgba(0, 56, 68, 0.762);
}

.hero {
   display:flex;
   justify-content: center;
   padding:70px;
   align-items: center;
   gap:20px;
   flex-wrap:wrap;
}

.hero-text {
   max-width:450px;
   height:auto;
}

.hero-overskrift {
   font-size:3rem;
   color:#f7f7f7;
   margin:0px;
   max-width:450px;
   min-width:250px;
}

.hero-sub-text { 
   color:#f7f7f7e6;
   max-width:440px;
   margin-top: 5px;
   font-size: 1.1rem;


}  

img {
   min-width:350px;
   max-width:450px;
   min-height: none;
   max-height:250px;
   border-radius: 15px;
   flex:1;
}

button {
   width:120px;
   border-radius: 6px;
   padding: 6px 6px;
   border:none;
   font-size: 1.1rem;
   margin-bottom: 0px;
   color: rgb(0, 38, 46);
}

.main {
   background-color: #ffffff;
   display:flex;
   justify-content: center;
   align-items: center;
}

.main-box {
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 10px;
   margin-bottom: 80px;
}

.box-text {
   display:flex;
   justify-content: center;
   max-width:740px;
   gap: 35px;
   flex-wrap: wrap;
   flex-direction: row;
}
.wrapper{
   display:flex;
   flex-direction: column;
   justify-content: center; 
   max-width:150px;
   text-align: center;
   flex:1 1 130px;
   
   }

.box {
   border: 2.5px solid;
   height:150px;
   width: auto;
   border-color: rgba(0, 38, 46, 0.507);
   border-radius: 10px;
}

h4 {
   font-size:1.7rem;
   margin-bottom:40px;
   color: rgb(0, 38, 46);
}

.text {
   margin-top:7px;
   font-size: 1rem;
   color: rgb(0, 38, 46);
}

.quote-container {
background: #e5e7eb;
display:flex;
padding:80px;
flex-direction: column;
align-items: center;
justify-content: center;
}


.quote {
   max-width:720px;
   display: flex;
   flex-direction: column;
   color: rgb(0, 38, 46);
}

.quote-text {
   font-size: 2.2rem;
   font-style:italic;
   font-weight: 100;
   display: flex;
   flex-wrap:wrap;
}

.thor {
   align-self: flex-end;
   font-size: 1.3rem;
   margin-top: 20px;
}
