body {
   display:flex;
   flex-direction: column;
   font-family: "Roboto", verdana, sans-serif;
   margin:0;
   padding:0;
   min-width: 400px;
}

.header-box {
   flex-direction: row; 
   display: flex; 
   max-width: 710px;
   margin: 0px 40px 0px 40px;
   justify-content: space-between;
   flex:1 1 auto;

}
.header {
   background-color: #2e5848e5;
   display:flex;
   justify-content: center;
   
}

.overskrift {
   font-size: 24px;
   color: #f9faf8;
}

.meny {
   display:flex;
   flex-direction: row;
}

ul, .link {
   color:#E5e7eb;
   font-size: 18px;
   text-decoration: none;
   list-style: none;
   margin:0;
   gap:25px;
   display:flex;
   align-items:center;
   transition-duration: 0.3s;
   display:flex;
   

}

.link:hover { 
   cursor: pointer;
   transition-duration: 0.3s;
   color:#00000090;
}

.hero {
   background-color: #2e5848e5;
   display:flex;
   justify-content: center;
   padding:70px;
   align-items: center;
   gap:20px;
   flex-wrap:wrap;
   flex:1 1px;
}

.hero-text {
   width:350px;
   height:200px;
}

.hero-overskrift {
   font-size:40px;
   color:#efeeee;
   margin:0px;
   width:330px;
}

.hero-sub-text { 
   color:#e5e7ebd8;
   width:350px;
   margin-top: 5px;

}  

img {
 width:350px;
 height:200px;
 border-radius: 15px;
}

button {
   width:100pX;
   border-radius: 6px;
   padding:5px 10px;
   border:none;
   margin-bottom: 30px;
   
}