*, *:before, *:after {
   box-sizing: border-box;
}

/*Text-color, background-color, font-size*/

.gallery, .booking, button, .link-1, .link-2, .link-3 {
   background-color: #edebd9;
}

.quote, .link:hover {
   background-color: #bcbca2;
}

h1, h3, h6, .light-text, .copyright {
   color: #edebd9;
}

.link-1, .link-2, .link-3, h3, .signature, .quote-text, .text {
   color: #3c3f39;
}


.copyright, button, a {
   font-size: calc(0.6rem + 0.6vw);

}
/*END COLORS*/

body {
   background: radial-gradient( circle  at -16% 45%,  #3c3f39 5%, #6f705b 51.5%, #3c3f39 100% );
   margin:0;
   flex-direction: column;
   font-family: "Roboto", Verdana, sans-serif;
   display: flex;

}


.header {
   display:flex;
   justify-content: center;
}

.header-container {
   display:flex;
   flex-direction: column;
   gap:40px;
   max-width: 1200px;
   padding-left: 10px;
   padding-right: 10px;
   margin-bottom:70px;
   flex:1;
}

.navbar {
   display:flex;
   margin-bottom: 40px;
}

.logo{
   background-image: url('images/logo.svg');
   background-repeat: no-repeat; 
   width:calc(100px + 6vw);
   height:120px;
   display:flex;
   flex:1 1 1;
   transition-duration: 0.2s;
}
.logo:hover{
   background-image: url('images/logo-hover.svg');
   background-repeat: no-repeat; 
   transition-duration: 0.2s;
}

ul {
   list-style: none;
   display: flex;
   gap:20px;
   flex:1;
   justify-content: flex-end;
   margin:0px 0px 0px 20px;
}

.link-1, .link-2, .link-3 {
   display:flex;
   text-decoration: none;
   border-radius: 0px 0px 15px 15px; 
   justify-content: center;
   align-items: center;
   height:45px;
   transition-duration: 0.4s;
   
}

.link-1:hover, .link-2:hover, .link-3:hover {
   background-color: #bcbca2;
   scale:110%;
   cursor: pointer;
   height:60px;
   transition-duration: 0.3s;
   font-size: calc(0.6rem + 0.7vw)
}

li {
   max-width: 100px;
   min-width: 40px;
   flex:1;
   transition-duration: 0.3s;
}


.text-image-container {
   display:flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content:space-between;
   gap:20px;  
}

.text-container {
   display:flex;
   flex-direction: column;
   gap:30px;
   flex:1;
}

h1 {
max-width:400px;
font-size:calc(1rem + 2.30vw);
margin:0;
min-width: 200px;
font-weight: 700;
}

.light-text {
   max-width: 550px;
   margin:0;
   font-size: calc(0.8rem + 0.7vw);
   color:#edebd9ec;
   min-width:230px;
}


.header-img {
flex:1;
max-width:500px;
min-width:380px;
border-radius: 15px;
border:3px solid #bcbca2;
box-shadow: 0px 0px 8px 2px #0000005c; 
max-height: 330px;
}

button {
   width:110px;
   margin:0;
   padding:10px;
   border-radius:10px;
   border:none;
   box-shadow: 0px 0px 9px 1px #00000084;
   transition-duration: 0.3s;
   margin-top: 15px;
}

button:hover {
   background-color: #bcbca2;
}

button:active {
   scale:95%;
   box-shadow: 0px 0px 0px 0px;
}

.gallery { 
   display:flex;
   align-items: center;
   flex-direction: column;
}

h3 {
padding:10px;
font-size: calc(1.2rem + 1vw);
}

.gallery-container {
   display:flex;
   flex-direction: row;
   max-width:900px;
   gap:35px;
   margin-top: 10px;
   margin-bottom: 80px;
   flex-wrap: wrap;
   align-items: center;
}

.duo-box-container {
   display: flex;
   gap:35px;
   flex:1;
   justify-content: center;
}

.box-text-wrapper {
flex-direction: column;
flex-wrap: wrap;
display: flex;
justify-content: center;
align-content: center;

}

.box-1, .box-2, .box-3, .box-4{
min-width:170px;
flex:1 1 auto;
max-width:190px;
height:190px;
border-radius: 15px;
border:3px solid #bcbca2;
box-shadow: 0px 0px 6px 2px #0000005c;
}

.text {
   text-align: center;
   font-size: 1rem;
   max-width: 190px;
   height:50px;
}

.box-1{
   background-image: url('images/bolla-normal.jpg');
   background-size:cover;
}
.box-1:hover{
   background-image: url('images/bolla-grimase.jpg'); 
   background-size: cover; 
}

.box-2:hover{
   background-image: url('images/simba-normal.jpg');
   background-size: cover;
}
.box-2{
   background-image: url('images/simba-grimase.jpg'); 
   background-size: cover; 
}

.box-3{
   background-image: url('images/lexi-normal.jpg');
   background-size: cover;
}
   
.box-3:hover{
   background-image: url('images/lexi-grimase.jpg'); 
   background-size: cover; 
}

.box-4{
   background-image: url('images/liam-normal.jpg'); 
   background-size: cover; 
}
.box-4:hover{
   background-image: url('images/liam-grimase.jpg'); 
   background-size: cover; 
}

.quote {
   display:flex;
   justify-content: center;
}


.quote-container {
   display:flex;
   flex-direction: column;
   max-width:900px;
   padding:90px 20px 55px 20px;
   gap:5px;
   align-items: center;
   
}

.quote-text {
   font-size:calc(1rem + 1.7vw);
   font-weight: 100;
   font-style: italic;
   margin:0;
}
.signature {
   align-self: flex-end;
   flex:1;
   margin-right:50px;
   margin-top: 0px;
   font-weight: 700;
   font-size: calc(0.8rem + 1vw);
}

.booking {
   display:flex;
   justify-content: center;
   padding:60px;
}

.booking-container {
   max-width: 1200px;
   background-color: #6f705b;
   display:flex;
   border-radius: 15px;
   padding:60px;
   justify-content: space-evenly;
   flex:1;
   gap:40px;
   align-items: center;
   box-shadow: 0px 0px 6px 1px #00000084;
}

.booking-text-container {
   flex-direction: column;
   flex-wrap:wrap;
}

h6 {
   font-size: calc(0.7rem + 1.1vw);
   margin:0;
   margin-bottom:7px;
}

.light-text.bottom {
   font-size: calc(0.6rem + 0.75vw);
   margin:0;
   color:#edebd9d3;
}
button.bottom {
   width:150px;
   margin:0;
   padding:10px;
   border-radius:10px;
   border:none;
   box-shadow: 0px 0px 9px 1px #00000084;
   transition-duration: 0.3s;
   margin-top: 4px;
}

.footer {
   padding:10px;
}

.copyright {
   text-align: center;
   font-size:calc(0.6rem + 0.4vw)
}